header {
    background-color: $darkblue;
    height: 90px;
    padding: 2em;
    box-sizing: border-box;
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    @include shadow;

    h1 {
        color: $white;
        font-weight: 300;
        font-size: 2em;
    }
}

main {
    display: flex;
    justify-content: center;


    .container {
        margin-top: 120px;
        width: 1240px;
        max-width: 100%;

        .grp-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 1em;
            box-sizing: border-box;


            &:nth-last-of-type(4n+1) {
                .card {
                    margin-left: 0;
                }
            }

            .card {
                background-color: #fff;
                width: 24%;
                padding: 1em;
                box-sizing: border-box;
                margin: 0 0 1em 10px;
                @include shadow;



                .img_bx {
                    height: 200px;
                    margin-bottom: 1em;
                    text-align: center;

                    img {
                        max-width: 100%;
                        height: inherit;
                        object-fit: cover;
                    }
                }

                .content {
                    height: 140px;
                    max-height: 100%;
                    overflow: hidden;

                    .info {
                        margin-bottom: 1em;

                        a {
                            color: $lightblue;
                        }

                    }

                    .desc {
                        p {}
                    }
                }

                @include small-screen {
                    width: 32%;
                }

                @include tablet {
                    width: 48%;
                }

                @include mobile {
                    width: 100%;
                }

            }

        }

    }
}